@* @model IEnumerable<BoughtNumber> *@

@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.BoughtNumbers > 0)
{
    <h2>List of your phone numbers: </h2>
}
else
{
    <h2>Please buy phone numbers: </h2>
}


@foreach (var number in Model)
{
    <div>
        <ul>
            <li>
                <strong>@number.PhoneNumber</strong>
            </li>
        </ul>
    </div>
}

<a class="btn btn-primary" asp-action="Create">
    Buy another number
</a>