@* @model IEnumerable<BoughtNumber> *@

@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.BoughtNumbers == 0)
{
    <h2>Please buy phone numbers: </h2>
    
}
else
{
    <h2>List of your phone numbers: </h2>
}
@if (ViewBag.BoughtNumbers > 10)
{
    <script>
        alert('You can not buy more than 10 phone numbers'); 
    </script>    
}

@foreach (var number in Model)
{
    <div>
        <ul>
            <li>
                <strong>@number.PhoneNumber</strong>
            </li>
        </ul>
    </div>
}
<div class="row">
    <div class="col-2">
        <a class="btn btn-primary" asp-action="Create">
            Buy phone number
        </a>
    </div>
    <div class="col-2">
        <a class="btn btn-info" asp-controller="Account" asp-action="Edit">
            Edit user
        </a>
    </div>
</div>
