@* @model IEnumerable<BoughtNumber> *@

@{
    ViewData["Title"] = "Home Page";
}

<H2>List of your phone numbers: </H2>

@foreach (var number in Model)
{
    <div>
        <ul>
            <li>
                <strong>@number.PhoneNumber</strong>
            </li>
        </ul>
    </div>
}

<a class="btn btn-primary" asp-action="Create">
    Buy another number
</a>